@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.coding {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.listItems {
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

.footer {
  background-image: url("./../../../assets/do-cool-things.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-origin: content-box; */
}

.background {
  background-color: #7f56d9;
}
