@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --blue: #0077cc;
  --lightBlue: #3867b3;
  --black: #1b152b;
  --white: #fff;
  --lightgrey: #edf0ee;
  --almostwhite: #c0c0c0;
  --someshadeofgrey: #7a7d9c;
  --purple: #7a7d9c;
  --lavender: #7f56d9;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

@layer components {
  h1 {
    @apply text-[3rem] mobile:text-[4.8rem] lg:text-[7.2rem];
  }
  p {
    @apply text-[1.6rem];
  }
  .generalPadding {
    @apply px-[2rem] mobile:px-[5rem];
  }
}

/* // responsiveness // */

@media only screen and (max-width: 1250px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 431px) {
  html {
    font-size: 62.5%;
  }
}
